.artistLogInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artistLogInLabel {
  margin: 0.5em;
}

.artistLogInUsername {
}

.artistLogInPassword {
}

.artistLogInButton {
}
