.artistLogInForm {
  width: 1000px;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.artistLogInLabel {
}

.artistLogInUsername {
}

.artistLogInPassword {
}

.artistLogInButton {
}
