.artistSignUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artistSignUpLabel {
  margin: 1em;
}

.artistSignUpUsername {
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  border-color: #e86252;
  border-radius: 10px;
  border-style: solid;
}

.artistSignUpPassword {
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  border-color: #e86252;
  border-radius: 10px;
  border-style: solid;
}

.artistSignUpButton {
  margin-bottom: 1.5em;
  background-color: #223127;
  border: none;
  border-radius: 10px;
  padding: 1em;
  color: #fffffc;
}

.artistSignUpButton:hover {
  background-color: #b0bea9;
  color: #223127;
}

.haveAccountButton {
  background-color: #223127;
  border: none;
  border-radius: 10px;
  padding: 1em;
  color: #fffffc;
}

.haveAccountButton:hover {
  background-color: #b0bea9;
  color: #223127;
}
