.artistLogInForm {
  margin: 1em;
  display: grid;
  grid-template-areas:
    'label label'
    'username password'
    'logInButton logInButton';
}

.artistLogInLabel {
  grid-area: label;
}

.artistLogInUsername {
  grid-area: username;
}

.artistLogInPassword {
  grid-area: password;
}

.artistLogInButton {
  grid-area: logInButton;
  width: 100px;
  align-self: center;
}
