.artistLogInForm {
  width: 1000px;
  margin: 1em;
  display: grid;
  grid-template-areas:
    'label label'
    'username password'
    'logInButton logInButton';
}

.artistLogInLabel {
  margin: 1em;
  grid-area: label;
}

.artistLogInUsername {
  grid-area: username;
  margin-left: 5em;
  margin-right: 2em;
}

.artistLogInPassword {
  grid-area: password;
  margin-right: 5em;
  margin-left: 2em;
}

.artistLogInButton {
  grid-area: logInButton;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 1em;
}
