.header {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #fffffc;
  width: 100%;
  margin-bottom: 1.5em;
}

.headerText {
  margin: 0;
  font-size: 5em;
}

@media only screen and (max-width: 600px) {
  .headerText {
    font-size: 4em;
  }
}

.headerTextLink {
  text-decoration: none;
  color: #bd4f6c;
}
.headerTextLink:hover {
  color: #b0bea9;
}
