.canvasContainer {
  border-style: solid;
  border-color: #223127;
  border-width: 5px;
  border-radius: 10px;
  height: 65vh;
  width: 80vw;
  margin: 1em;
}

.liveArtMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colorSelector {
  padding: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
