.viewArtButton {
  background-color: #223127;
  border: none;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
  color: #fffffc;
}

.viewArtButtonLink {
  text-decoration: none;
  color: #fffffc;
}

.viewArtButtonLink:hover {
  color: #b0bea9;
}

.blobContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.svg {
  width: 400px;
  height: 400px;
}

.svgOne {
  width: 400px;
  height: 400px;
}
.artistLogInHereButton {
  background-color: #223127;
  border: none;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
  color: #fffffc;
}

.logInLink {
  text-decoration: none;
  color: #fffffc;
}

.logInLink:hover {
  color: #b0bea9;
}

@media only screen and (min-width: 800px) {
  .homepageButtons {
    display: flex;
    justify-content: center;
  }
}
